/* 
    Student ID: B00139596
    Student Name: Johny Ramos
    Course: T054 - Computer System Management
    Module: Web Application
    Lecturer: Robert Smith
 */

/* Create PHP File */

body {
    max-height: 100vh;
    box-sizing: border-box;
}

label {
    display: block;
    margin: 5px 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 5px;
    border-bottom: 1px solid #aaa;
}

.pet-list-item blockquote {
    color: #999;
    padding: 0 10px;
}

.pet-list-item img {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
}